@import url(fontawesome-all.min.css);
@import 'https://fonts.google.com/specimen/Montserrat?query=montserrat';


html, body {
  background-color: darkslategray;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Montserrat", Montserrat, monospace;
}

.scroll-container {
  height: 10vh;
  overflow-y: auto;
}

.shadow {
  position: fixed;
  top: -40px;
  width: 100vw;
  height: 50%;
  z-index: 1999;
  transition: opacity 0.5s ease;
}

.topnav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2000;
    flex-flow: wrap;
    text-shadow: 0px 1px 3px gray;
  }
  .topnav a {
    color: rgb(230, 230, 230);
    text-align: center;
    padding-top: 30px;
    text-decoration: none;
    font-family: "Montserrat", Montserrat, monospace;
    font-size: 17px;
    font-weight: 1400;
  }
  .topnav a:hover {
    color: white;
  }
  .topnav a.active {
    color: white;
  }

.titlesmain {
    position: fixed;
    margin-top: -2vw;
    margin: 10vw;
    z-index: 1000;
  }

  #welcome {
    padding-top: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 7vw;
    font-family: "Montserrat Alternates", Montserrat, monospace;
    font-weight: lighter;
    z-index: 1000;
  }
  
  #mongoliatitle {
    display: flex;
    margin-top: -10vw;
    justify-content:center;
    color: white;
    font-size: 16vw;
    font-family: "Montserrat", Montserrat, monospace;
    font-weight: bold;
    letter-spacing: -2vw;
    z-index: 1000;
  }

  p, h1, h2 {
    display: flex;
    justify-content:center;
    color: white;
    font-family: "Montserrat", Montserrat, monospace;
  }

  .container-img {
    position: absolute;
    height: 2000px;
  }

  #sunset01{
    top: -5vw;
    width: 100vw;
    position: relative;
  }

  #nightsky {
    position: relative;
    width: 250vw;
    top: -90vw;
    z-index: 1100;
  }

  .programs {
    position: relative;
    top: -92vw;
    width: 33.33333333vw;  
    z-index: 1101;
    
  }

  #contents {
    position: absolute;   
    left: 5vw;
    width: 90vw;
    top: 55vw;
    z-index: 1200;
    text-shadow: 0px 1px 3px gray;
  }

  .discover_page {
    font-size: 2vw;
  }

  #about_us {
    position: relative;
    padding-top: 20vw;
    top: 5vw;
    font-size: 2vw;
    text-shadow: 0px 2px 4px black;
  }

  #bottomhalf {
    position: relative;
    top: -62vw;
    width: 100vw;  
    z-index: 1102;
  }

  #reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    margin-top: -190px;
    padding-left: 5vw;
  }
  #stars {
    width: 300px;
    margin: -50px;
  }

  #contact {
    padding: 40px;
    background-color: rgb(29, 62, 62);
    height: 300px;
  }
  
  #contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #sponsors {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 2vw;
  }
  #social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .overlay-pics {
    position: absolute;
    width: 100vw;
  }

  #mountains {
    position: fixed;
    top: 20vw;
    width: 100vw;
    z-index: 999;
  }

  #yurtmain {
    position: relative;
    top: 20vw;
    width: 100vw;
    z-index: 1100;
  }

  #yurts {
    position: relative;
    top: 44vw;
    width: 100vw;
    z-index: 1101;
  }

  .footer {
    transition: opacity 0.5s ease;
    width: 100%;
    background-color: #333; /* Set your desired background color */
    color: #fff; /* Set your desired text color */
    padding: 1px;
    height: 10vw;
    text-align: center;
  }

  #contact {
    position: absolute;
    top: 400vw;
    left: 0;
    width: 100%;
    background-color: rgb(25, 55, 55); /* Set your desired background color */
    color: #fff; /* Set your desired text color */
    padding: 10px;
    text-align: center;
    z-index: 3000;
}

.contacts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact-info,
.social-media {
    flex: 1;
}

.contact-info p {
    margin: 5px 0;
}

.social-media a {
    margin: 10px;
    display: inline-block;
}

.social-media a {
  color: rgb(230, 230, 230);
  text-decoration: none;
  font-family: "Montserrat", Montserrat, monospace;
}
.social-media a:hover {
  color: white;
}
.social-media a.active {
  color: white;
}
